{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="row">
	{% for an in anuncios %}
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 imagen-lista">
            <div class="hover-module" style="height: 230px;">
                <a href="{% url 'publish_edit' %}{{an.id}}">
                    <img class="img-responsive" src="{{an.imagen.url}}" style="width:440px; height: 200px;" alt="">
                    <hovernombreeat>{{an.nombre_mascota|upper}}</hovernombreeat>
                </a>
                <hovernombrecreador>
                    <a href="#">
                        PUBLICADO POR {{an.creador.first_name|upper}} {{an.creador.last_name|upper}}
                    </a>
                </hovernombrecreador>
                
            </div>
        </div>
	{% endfor %}
</div>

{% endblock body %}
